#cluster-map {
  width: 100%;
  height: 500px;
}

#map {
  width: 100%;
  height: 300px;
}

.title {
  text-align: center;
}

.titleReview {
  margin: 20px 0px;
}

#camp-cards {
  min-height: 460px;
}

#camp-images {
  width: 410px;
  height: 270px;
}
#titleIndex {
  font-size: 60px !important;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}
